<ion-view view-title="About">
  <ion-content scroll="true">
 
    <div class="card">
  <div class="item item-divider">
    What is HercSchool?
  </div>
  <div class="item item-text-wrap">
    HercSchool was designed with the student experience in mind. By creating an interface in which your academic and personal life are integrated, a social support network is strengthed, allowing you to maintain motivation and focus on your academics. 
  </div>
  <h1> </h1>

   <div class="card">
  <div class="item item-divider">
    OK, I get that. But why use this app?
  </div>
  <div class="item item-text-wrap">
    There are three main facets that make this app different than other academic management tools. 
    <ul class="list">
    <li class="item">
      1) The automated support messages allow your closest friends get a nudge to wish you luck on that big exam or upcoming project within the week it is due. This can be a serious mood lifter and start some conversation. 
    </li>

    <li class="item">
    2) This app alleviates the isolation that can occur when swamped with work by reaching out to your already existing support network. 
    </li>

    <li class="item">
    	3) Having your canvas imported allows you to get the info of your classmates and form contact groups for each of your classes, with your calender right at hand to schedule out group meets!

    </li>
    <li class= "item">
    	4) Speaking of group collaboration, did we mention you can create a OneNote shareable notebook for your collaborative groups by class? (shout out to Microsoft)
    </li>

</ul>
  </div>
</div>
  </ion-content>
</ion-view>
