
<ion-view view-title="personal">
  <ion-content>
<ion-tabs class="tabs-background-positive tabs-icon-top">
   <ion-tab title="Items" icon="ion-document-text">
      <ion-content>
         Tasks go here
      </ion-content>
   </ion-tab>

   <ion-tab title="Details" icon="ion-information-circled">
      <ion-content>

      </ion-content>
   </ion-tab>
</ion-tabs>

<button ng-click="showTaskPrompt();"
   class="button button-icon icon ion-plus-round"></button>
    <script id="task-prompt.html" type="text/ng-template">
]
    </script>

